<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio Files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.mp3</string>
				<string>public.aac-audio</string>
				<string>public.mpeg-4-audio</string>
				<string>public.aiff-audio</string>
				<string>com.microsoft.waveform-audio</string>
				<string>org.xiph.flac</string>
				<string>org.xiph.ogg</string>
				<string>com.microsoft.windows-media-wma</string>
				<string>com.apple.audio-alac</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MetaWav Metadata</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.metawav.meta</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MetaWav Album Metadata</string>
			<key>UTTypeIdentifier</key>
			<string>com.metawav.meta</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>meta</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-metawav-meta</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
